[flake8]
ignore=B008,B301,C815,C816,C812,D100,D105,D200,D202,D301,D402,E121,E123,E126,E203,E226,E24,E704,W503,W504
max-line-length=99
exclude=
    .git
    docs

inline-quotes="
import-order-style=appnexus
application-package-names=covid_graphs
per-file-ignores=
    covid_graphs/covid_data.py:D
    covid_graphs/download_data.py:D
    covid_graphs/graphs.py:D
    covid_graphs/mappings.py:D
    covid_graphs/resources.py:D
    covid_graphs/utils.py:D
    covid_graphs/dl_models/graph_dl_model.py:D
    **/__init__.py: F401
    **/tests/**:D
    **/tests/**:F811
